<!DOCTYPE html>
<html lang="en">
<head>
    <meta id="fav-color" value="orange">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<title>{{ market.marketName }}</title>
	
	<link type="text/css" rel="stylesheet" href="https://www.z609.me/mcm-material/css/style.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/market.css">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}{{ market.marketTheme.css }}">
    
	<script type="text/javascript" src="https://www.z609.me/lib/jquery.js"></script>
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42813952-1', 'minecraftmarket.com');
        ga('send', 'pageview');
    </script>
</head>
<body style="background: #fff;" id="mainbody">
    <a name="top"></a>
{% include include_header %}
<div class="container" id="page-content">

	<div class="row" id="currentshop">
		<div class="col-md-3">
            {% include include_navigation %}
            {% include include_modules %}
		</div>
		<div class="col-md-9">
            {% if messages %}
                {% for message in messages %}
                    <div class="card {% if 'error' in message.tags %}red{% elif 'success' in message.tags %}green{% endif %}">
                        <div class="card-content white-text">
                            {{ message }}    
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
    		{% block content %}
    
            {% endblock %}
		</div>
	</div>
    
    {% if 'username' in request.session %}
    <div class="row" id="shopprofile">
    </div>
    <div class="row" id="logout">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Are you sure?</span>
                    Are you sure you want to log out? You will lose everything in your cart and will have to re-add items the next time you shop.
                </div>
                <div class="card-action">
                    <a href="/logout/">Log Out</a>
                    <a href="/">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% include include_footer %}
<script type="text/javascript" src="https://www.z609.me/mcm-material/js/material.js"></script>
<script type="text/javascript" src="https://www.z609.me/mcm-material/js/material-implementation.js"></script>
<!-- 
There are apparently problems with this and it loading over SSL. It has proven no use and has been commented out.
<script lang="javascript" src="{{ STATIC_URL }}js/dynamicforms.js"></script> Apparently there are problems with this?
-->
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/transitions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/market.js"></script>

{% if 'username' in request.session %}
<div class="fixed-action-btn">
    <a href="/checkout/" class="btn-floating btn-large waves-effect waves-light userColor"><i class="fa fa-shopping-cart"></i></a>
</div>
{% endif %}

<script>
    $(document).ready(function(){
        /* Deal with errorlist-ception */
        $('.errorlist:first').html($('.errorlist .errorlist').html());
        /* Your favorite color */
        $('.userColor').addClass($('#fav-color').attr('value'));
        $('.userColor').removeClass('userColor');
    });
</script>
</body>
</html>
